* {
  margin: 0;
  padding: 0;
  border: 0;
}

.places-list-container {
  margin: 8px;
  border: 1px solid lightgrey;
  height: 70vh;
  width: 35%;
  
}
.place-overflow {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  background: #fff;
  width: auto;
  height: 65vh;
  overflow-y: scroll;
}

.place-arrow {
  transform:rotate(90deg);
  display:block;
  float:right;
  margin: 5px;
  height: 20px;
  }

h5.place-container-headline {
  background-color: #e22866;
  text-align: center;
  color: #fff;
  border: 1px solid lightgrey;
  height: 40px;
  line-height: 40px;
  margin-bottom: 0;
}

.place-headline {
  margin: 5px;
  font-weight: bold;
  color: black;
}

.place-content-li {
  color: #000;
}

.single-place-header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-color {
  color: #E63946;
}


/* .placeList-background-div{
  padding-left: 30px;
  padding-right: 30px;
} */



