#widget-container1, #okta-sign-in {
  width: 400px;
  margin: 80px auto 8px;
}

#okta-register {
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  background-color: #f9f9f9;
  color: #777;
  position: relative;
  overflow: auto;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  height: auto;
  width: 400px;
  min-width: 300px;

}

#okta-register .auth-org-logo {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  max-height: 40px;
}

#okta-register.auth-container1.main-container {
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  color: #777;
  background-color: #fff;
  border-color: #ddd #ddd #d8d8d8;
  -webkit-box-shadow: 0 2px 0 rgba(175, 175, 175, 0.12);
  box-shadow: 0 2px 0 rgba(175, 175, 175, 0.12);
}

#okta-register.auth-container1 h2{
  font-weight: bold;
  color: #5e5e5e;
}
#okta-register.auth-container1 .okta-register-header {
  color: #5e5e5e;
}

#okta-register .auth-header {
  padding: 30px 75px;
  position: relative;
  border-bottom: 1px solid #ddd;
  z-index: 10;
  -webkit-transition: padding-bottom .4s;
  -o-transition: padding-bottom .4s;
  transition: padding-bottom .4s;
}
#okta-register.auth-container1 .okta-form-subtitle,
#okta-register.auth-container1 .okta-form-label {
  color: #777;
}

#okta-register .auth-content {
  padding: 20px 42px;
  -webkit-transition: padding-top .4s;
  -o-transition: padding-top .4s;
  transition: padding-top .4s;
}

#okta-register.auth-container1 input[type=submit],
#okta-register.auth-container1 input[type=button] {
  font-family: "montserrat", Arial, Helvetica, sans-serif;
}

#okta-register.auth-container1.main-container {
  background-color: #fff;
  border-color: #ddd #ddd #d8d8d8;
  box-shadow: 0 2px 0 rgba(175, 175, 175, 0.12);
  margin: 0;
}

#okta-register.auth-container1 .okta-register-header {
  border-bottom-color: #ddd;
}
#okta-register.auth-container1 .okta-sign-in-beacon-border {
  border-color: #a7a7a7;
}
#okta-register.auth-container1 .okta-form-divider {
  border-bottom-color: #e8e8e8;
}
#okta-register.auth-container1 .factor-icon,
#okta-register.auth-container1 .qrcode-image {
  border-color: #ccc;
}

#okta-register.auth-container1 .button {
  color: #5e5e5e;
  background-color: #fbfbfb;
  background: -o-linear-gradient(top, #fbfbfb 0%, #f8f8f8 100%);
  background: -ms-linear-gradient(top, #fbfbfb 0%, #f8f8f8 100%);
  background: linear-gradient(#fbfbfb, #f8f8f8);
  border-color: #c3c3c3;
  border-bottom-color: #bbbbbb;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 0, rgba(255, 255, 255, 0.1) 0 1px 0 0 inset;
  display: inline-block;
  height: 50px;
  line-height: 36px;
  padding: 0 15px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}
#okta-register.auth-container1 .button:hover, #okta-register.auth-container1 .button:focus, #okta-register.auth-container1 .button:active, #okta-register.auth-container1 .button:focus {
  background-color: white;
  background: -o-linear-gradient(top, white 0%, #fcfcfc 100%);
  background: -ms-linear-gradient(top, white 0%, #fcfcfc 100%);
  background-image: linear-gradient(white, #fcfcfc);
  border-color: #b2b2b2;
  border-bottom-color: #afafaf;
  text-decoration: none;
  cursor: pointer;
}
#okta-register.auth-container1 .button:hover, #okta-register.auth-container1 .button:focus, #okta-register.auth-container1 .button:active, #okta-register.auth-container1 .button:focus {
  box-shadow: none;
}
#okta-register.auth-container1 .button:focus {
  border-color: #0074b3;
}

#okta-register.auth-container1 .button-primary,
#okta-sign-in.auth-container .button-primary {
  color: #fff;
  background-color: #20313b;
  background: -o-linear-gradient(top, #20313b 0%, #004b75 100%);
  background: -ms-linear-gradient(top, #20313b 0%, #004b75 100%);
  background: linear-gradient(#20313b, #004b75);
  border-color: #004b75;
  border-bottom-color: #00456a;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 0, rgba(255, 255, 255, 0.1) 0 1px 0 0 inset;
}

#okta-register.auth-container1 .button.button-primary.link-button-disabled:hover,
#okta-register.auth-container1 .button.button-primary.link-button-disabled:focus,
#okta-register.auth-container1 .button.button-primary.link-button-disabled:active, {
  cursor: default;
  background-image: none;
}

.button.button-primary.link-button-disabled {
  background-color: #20313b !important;
  background: -o-linear-gradient(top, #004b75 0%, #20313b 100%)!important;
  background: -ms-linear-gradient(top, #004b75 0%, #20313b 100%)!important;
  background-image: linear-gradient(#004b75, #20313b)!important;
  border-color: #003d5e!important;
  border-bottom-color: #003a59!important;
  text-decoration: none!important;
  cursor: default!important;
  background-image: none;
  opacity: 0.4;
}
/* #okta-register.auth-container1 .button-primary {
  color: #fff;
  background-color: #007dc1;
  background: -o-linear-gradient(top, #007dc1 0%, #0073b2 100%);
  background: -ms-linear-gradient(top, #007dc1 0%, #0073b2 100%);
  background: linear-gradient(#007dc1, #0073b2);
  border-color: #004b75;
  border-bottom-color: #00456a;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 0, rgba(255, 255, 255, 0.1) 0 1px 0 0 inset;
} */
#okta-register.auth-container1 .button-primary:hover, #okta-register.auth-container1 .button-primary:focus, #okta-register.auth-container1 .button-primary:active, #okta-register.auth-container1 .button-primary:focus,
#okta-sign-in.auth-container .button-primary:hover, #okta-sign-in.auth-container .button-primary:focus, #okta-sign-in.auth-container .button-primary:active, #okta-sign-in.auth-container .button-primary:focus {
  background-color: #20313b;
  background: -o-linear-gradient(top, #004b75 0%, #20313b 100%);
  background: -ms-linear-gradient(top, #004b75 0%, #20313b 100%);
  background-image: linear-gradient(#004b75, #20313b);
  border-color: #003d5e;
  border-bottom-color: #003a59;
  text-decoration: none;
  cursor: pointer;
}
/* #okta-register.auth-container1 .button-primary:hover, #okta-register.auth-container1 .button-primary:focus, #okta-register.auth-container1 .button-primary:active, #okta-register.auth-container1 .button-primary:focus {
  background-color: #0087d0;
  background: -o-linear-gradient(top, #0087d0 0%, #007dc1 100%);
  background: -ms-linear-gradient(top, #0087d0 0%, #007dc1 100%);
  background-image: linear-gradient(#0087d0, #007dc1);
  border-color: #003d5e;
  border-bottom-color: #003a59;
  text-decoration: none;
  cursor: pointer;
} */

/* #okta-signin-submit {
  background-color: #20313b !important;
  background: -o-linear-gradient(top, #004b75 0%, #20313b 100%) !important;
  background: -ms-linear-gradient(top, #004b75 0%, #20313b 100%) !important;
  background-image: linear-gradient(#004b75, #20313b) !important;
  border-color: #003d5e;
  border-bottom-color: #003a59;
  text-decoration: none;
} */
#okta-register.auth-container1 .button-primary:hover, #okta-register.auth-container1 .button-primary:focus, #okta-register.auth-container1 .button-primary:active, #okta-register.auth-container1 .button-primary:focus {
  box-shadow: none;
}

#okta-register .buuton {
  display: inline-block;
  height: 40px;
  line-height: 36px;
  padding: 0 15px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}

#okta-register.auth-container1 .icon-button {
  color: #5e5e5e;
  background-color: #fff;
  background: -o-linear-gradient(top, #fff 0%, white 100%);
  background: -ms-linear-gradient(top, #fff 0%, white 100%);
  background: linear-gradient(#fff, white);
  border-color: #c4c4c4;
  border-bottom-color: #bdbdbd;
}
#okta-register.auth-container1 .icon-button:hover, #okta-register.auth-container1 .icon-button:focus, #okta-register.auth-container1 .icon-button:active, #okta-register.auth-container1 .icon-button:focus {
  background-color: white;
  background: -o-linear-gradient(top, white 0%, white 100%);
  background: -ms-linear-gradient(top, white 0%, white 100%);
  background-image: linear-gradient(white, white);
  border-color: #b3b3b3;
  border-bottom-color: #afafaf;
  text-decoration: none;
  cursor: pointer;
}

#okta-register.auth-container1 .okta-form-input-field {
  background-color: #fff;
  border-color: #bbb;
}
#okta-register.auth-container1 .okta-form-input-field:hover {
  border-color: #888;
}
#okta-register.auth-container1 .okta-form-input-field.focused-input {
  border-color: #0074b3;
}
#okta-register.auth-container1 .okta-form-input-field input {
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  color: #5e5e5e;
}
#okta-register.auth-container1 .okta-form-input-field input::-webkit-input-placeholder {
  /* -- Input Fields: placeholder -- */
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  color: #aaa;
}
#okta-register.auth-container1 .okta-form-input-field input::-moz-placeholder {
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  color: #aaa;
}
#okta-register.auth-container1 .okta-form-input-field input:-ms-input-placeholder {
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  color: #aaa;
}
#okta-register.auth-container1 .okta-form-input-field input[disabled] {
  color: #777;
  -webkit-text-fill-color: #777;
}
#okta-register.auth-container1 .okta-form-input-field input[type=password] {
  font-family: Verdana, sans-serif;
}
#okta-register.auth-container1 .okta-form-input-field placeholder {
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  color: #aaa;
}
#okta-register.auth-container1 .input-icon:before,
#okta-register.auth-container1 .input-tooltip:before {
  color: #a7a7a7;
}

#okta-register .o-form-has-errors .infobox-error {
  display: block!important;
  margin-bottom: 15px;
}

#okta-register .infobox {
  border: 1px solid #ddd;
  border-radius: 3px;
  word-break: break-word;
  position: relative;
  min-height: 18px;
  padding: 12px 18px 12px 48px!important;
}
#okta-register .infobox p {
  margin-bottom: 0;
}

#okta-register .infobox:before {
  width: 36px;
  position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    content: "";
    background-color: #e34843;
}

#okta-register .infobox>.icon {
  position: absolute;
  top: 16px;
  left: 9px;
}

#okta-register [class*="-16"], #okta-register [class^="-16"] {
  vertical-align: top;

  box-sizing: border-box;
}

#okta-register .error-16:before {
  content: "\e055";
  color: #fff;
  font-family: okticon;
  font-size: 16px;
  position: absolute;
}

#okta-register.auth-container1 .chzn-single {
  background-color: #fff;
  border-color: #bbb;
}
#okta-register.auth-container1 .chzn-single span {
  color: #777;
}
#okta-register.auth-container1 .chzn-single:hover {
  border-color: #888;
}
#okta-register.auth-container1 .chzn-with-drop .chzn-single,
#okta-register.auth-container1 .chzn-with-drop .chzn-drop {
  background-color: #fff;
  border-color: #888;
}

#okta-register .signin-container {
  margin-top: 5px;
}
#okta-register .signin-container .content {
  padding: 10px 42px;
  -webkit-transition: padding-top .4s;
  -o-transition: padding-top .4s;
  transition: padding-top .4s;
  border-top: 1px solid #ddd;
  margin-top: 5px;
  vertical-align: baseline;
    background: transparent;
    text-align: center;
    font-size: 12px;
}

#okta-register .signin-container .signin-link {
  margin-left: 7px;
  color: #007dc1;
}
#okta-register .signin-container .signin-link:hover {
  cursor: pointer;
}

#okta-register a:active, #okta-sign-in a:link, #okta-sign-in a:visited {
  text-decoration: none;
}

.loading-gif {
  position: absolute;
  display: block;
  bottom: -16px;
  background: #fff;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  #widget-container1{
    width: auto;
  }
#okta-register.auth-container1 .auth-content {
    max-width: 316px;
    margin: 0 auto;
  }
  #okta-register.auth-container1.main-container {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

}
#okta-register.auth-container1 {
  width: auto;
  margin-right: 0;
  margin-left: 0;
}
}

@media only screen and (max-width: 750px) {
  #okta-register {
    margin-top: 0;
}
}



