* {
  margin: 0;
  padding: 0;
  border: 0;
}

.event-list-container,
.temp-events-list-container {
  margin: 8px;
}

.event-list-container {
  height: 70vh;
  width: 35%;
  border-radius: 2px;
  }

.eventList-overflow {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: auto;
  height: 65vh;
  overflow-y: scroll;
}

.temp-events-list-container {
  min-height: 40px;
  width: auto;
  height: auto;
  background-color: #f8f9fa;
}


.place-arrow {
  transform:rotate(90deg);
  display:block;
  float:right;
  margin: 5px;
  height: 20px;
  color: #000;
  font-weight: bold;

  }

  h5.event-container-headline {
  background-color: #f50057;
  text-align: center;
  color: #fff;
  height: 40px;
  line-height: 40px;
  margin-bottom: 0;
}

.content-of-event {
color: #000;
padding: 5px;
max-width: 100%;
}

.event-headline {
  margin: 5px;
  font-weight: bold;
  color: #000;
  display: flex;
}


 .event-headline span {
  flex: 1;
  margin-right: 10px;
 }

 .event-headline h6 {
  flex: 10;
  margin-bottom: 0;
 }

.single-event-header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
}

/* .event-dlt-btn {
  color: #1D3557;
  border: 1px solid lightgray;
} */

.collapse-color {
  background-color: white;
}

ul .ReactCollapse--content {
  color: #000
}

.delete-draggable {
  color: #20313b;
}



