h5 {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 400;
  /* color: white; */
}

.eventDatePicker {
  width: 95px;
  margin: 2px;
  height: 30px;
}

.btn-temp-event-date {
  height: 30px;
  margin: 2px;
}

.datesHead {
  background-color: #1483c6;
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
  min-height: 40px;
}

.to-event-date,
.from-event-date {
  text-align: left;
}

;
.date-pick-container {
  display: flex;
  width: 75%;
  margin-top: 5px;
  margin-bottom: 5px;
}

;