.dates-headline {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 400;
  /* color: white; */
}

.eventDatePicker {
  width: 95px;
  margin: 2px;
  height: 30px;
}

.btn-temp-event-date {
  margin: 8px;
}

.datesHead {
  background-color: #fff;
  /* background-color: #e22866; */
  text-align: center;
  color: #000;
  border: 1px solid lightgrey;
  /* border-radius: 5px; */
  min-height: 40px;
  /* line-height: 40px; */
  /* z-index: 999 !important; */
}
.datesHead h5 {
margin-bottom: 0;
  background-color: #20313b;
  /* background-color: #e22866; */
line-height: 40px;
color: #fff;

}

.to-event-date,
.from-event-date {
  text-align: left;
  display: flex;
  margin: 8px 2px;
}

.react-datepicker-wrapper {
  margin-left: 8px;
  /* padding: 3px; */
  /* border-radius: 2px; */
}

.react-datepicker__input-container {
  border-radius: 2px;
  padding: 3px;

}

;
.date-pick-container {
  display: flex;
  width: 75%;
  margin-top: 5px;
  margin-bottom: 5px;
}

;
/*
.Select-menu-outer {
  z-index: 999 !important;
}

.Select.is-open { position: relative; z-index: 1000; }

.input-group .form-control, .input-group-btn .btn { z-index: inherit !important; }

.is-open {
  z-index: 100 !important;
  }

  .my-select__menu {
    z-index: 5 !important;
    }

    .Select-menu {
      position: fixed !important;
  } */