.list-container {
  margin-left: 8px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  height: auto;
  min-height: 200px;
  width: 25%;
  /* background-color: rgba(168, 218, 220, 0.13); */
  background-color: #F8F9FA;
};

.date-picker {
  display: flex;
};

/* .datesHead {
  background-color: red;
} */

