* {
  margin: 0;
  padding: 0;
  border: 0;
}

.day-list-container {
  margin-top: 10px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  width: auto;
  height: auto;
}

.day-list-wrapper {
  border: 1px solid lightgrey;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  min-width: 500px;
  min-height: 210px;
  height: auto;
  width: auto;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.day-container {
  margin: 8px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  min-height: 190px;
  height: 350px;
  width: 310px;
  overflow: auto;
}

.pick-date {
  border: 1px solid  lightgrey;
  text-align: center;
}


@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
