/* event list */

.temp-event-container {
  background-color: #fff;
  min-height: 660px;
}

.date-picker {
  display: flex;
}

.date-pick {
  padding: 10px;
  /* background-color: #f8a10070; */
}

.dates-headline {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 400;
}

.eventDatePicker {
  width: 95px;
  margin: 2px;
  height: 30px;
}

.btn-temp-event-date {
  margin: 8px;
}

.headline-find-events {
  background-color: #fff;
  text-align: center;
  color: #000;
  min-height: 40px;
}

.headline-find-events h5 {
  margin-bottom: 0;
  background-color: #20313b;
  line-height: 40px;
  color: #fff;
}

.listEvents,
.event-details {
  overflow-y: auto;
  height: 600px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.event-temp {
  padding: 8px;
  border: 1px solid #ffffff00;
  margin-bottom: 5px;
  background-color: rgba(233, 233, 233, 0.466);
}

.event-temp:hover {
  cursor: pointer;
  border: 1px solid #f50057;
}

.content-of-event-dragable {
  color: #000;
  padding: 10px;
  font-size: 16px;
}

.to-event-date,
.from-event-date {
  text-align: left;
  display: flex;
  margin: 8px 2px;
}

.react-datepicker-wrapper {
  margin-left: 8px;
}

.react-datepicker__input-container {
  border-radius: 2px;
  padding: 3px;
}

;
.date-pick-container {
  display: flex;
  width: 75%;
  margin-top: 5px;
  margin-bottom: 5px;
}

;
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  background-color: #216ba5;
  color: white;
  font-weight: bold;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:hover {
  background-color: #216ba5;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  border-radius: 0.3rem;
  background-color: #216ba5;
  color: #fff;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover {
  background-color: #1d5d90;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover {
  background-color: #1d5d90;
}

.react-datepicker__day--keyboard-selected {
  border-radius: 0.3rem;
  background-color: #2a87d0;
  color: #fff;
}

.react-datepicker__day--keyboard-selected:hover {
  background-color: #1d5d90;
}

.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range) {
  background-color: rgba(33, 107, 165, 0.5);
}

.react-datepicker__close-icon::after {
  background-color: #216ba5;
}