* {
  margin: 0;
  padding: 0;
  border: 0;
}

.places-list-container {
  margin: 8px;
  min-height: 55vh;
  height: auto;
  min-width: 32%;
  width: auto;
  border-radius: 3px;
  background-color: white;
}

.place-overflow {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: auto;
  height: auto;
}

.place-arrow {
  transform: rotate(90deg);
  display: block;
  float: right;
  margin: 5px;
  height: 20px;
  color: #000;
  font-weight: bold;
}

h5.place-container-headline {
  background-color: #f50057;
  text-align: center;
  color: #fff;
  height: 40px;
  line-height: 40px;
  margin-bottom: 0;
  border-radius: 3px;
}

.place-headline {
  margin: 5px;
  font-weight: bold;
  color: black;
}

.place-content-li {
  color: #000;
  padding: 5px;
}

.single-place-header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: baseline; */
  color: #fff;
  padding: 5px;
}

.delete-dragg-place {
  color: #20313b;
}
.delete-dragg-place:hover {
  cursor: pointer;
}