/* event list */
.temp-event-container {
  margin-left: 8px;
  border: 1px solid lightgrey;
  max-height: 80vh;
  width: 25%;
  background-color: #fff;
  overflow-y: auto;
}

.date-picker {
  display: flex;
}

.dates-headline {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 400;
}

.eventDatePicker {
  width: 95px;
  margin: 2px;
  height: 30px;
}

.btn-temp-event-date {
  margin: 8px;
}

.datesHead {
  background-color: #fff;
  text-align: center;
  color: #000;
  border: 1px solid lightgrey;
  min-height: 40px;
}
.datesHead h5 {
margin-bottom: 0;
  background-color: #20313b;
line-height: 40px;
color: #fff;

}

.to-event-date,
.from-event-date {
  text-align: left;
  display: flex;
  margin: 8px 2px;
}

.react-datepicker-wrapper {
  margin-left: 8px;
}

.react-datepicker__input-container {
  border-radius: 2px;
  padding: 3px;

}

;
.date-pick-container {
  display: flex;
  width: 75%;
  margin-top: 5px;
  margin-bottom: 5px;
}

;

  .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
    background-color: #216ba5;
    color: white;
    font-weight: bold;
  }

  .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:hover {
    background-color: #216ba5;
  }

  .react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
    border-radius: 0.3rem;
    background-color: #216ba5;
    color: #fff;
  }

  .react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover {
    background-color: #1d5d90;
  }

  .react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover {
    background-color: #1d5d90;
  }

  .react-datepicker__day--keyboard-selected {
    border-radius: 0.3rem;
    background-color: #2a87d0;
    color: #fff;
  }

  .react-datepicker__day--keyboard-selected:hover {
    background-color: #1d5d90;
  }

  .react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range) {
    background-color: rgba(33, 107, 165, 0.5);
  }

  .react-datepicker__close-icon::after {
    background-color: #216ba5;
  }