* {
  margin: 0;
  padding: 0;
  border: 0;
}

.day-list-container {
  margin: 8px;
  min-height: 55vh;
  min-width: 35%;
  width: auto;
  border-radius: 2px;
  height: auto;
  background-color: white;
}

.day-list-wrapper {
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  background: #fff;
  width: auto;
  height: auto;
}

.day-container {
  margin: 8px;
  border: 2px solid lightgrey;
  border-radius: 2px;
  min-height: 15vh;
  height: auto;
  width: auto;
}

.pick-date {
  border-bottom: 1px solid  lightgrey;
}

.droppable-size {
  min-height: 15vh;
  height: auto;
}

.delete-day {
  float: right;
}
.delete-day:hover {
  cursor: pointer;
}

