#map {
  height: 100%
}

#appMap {
  height: 80vh;
}

#map-container {
  height: 100%;
  width: 100%;
}

.autocomplete {
  box-sizing: border-box;
  border: 1px solid transparent;
  width: 240px;
  height: 32px;
  padding: 0 12px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  outline: none;
  text-overflow: ellipses;
  position: absolute;
  top: 91px;
  left: 169px;
}