.map-event-container {
  display: flex;
  flex: wrap;
  flex-flow: row;
  justify-content: space-around;
  margin: 35px 0;
}

.plan-trip-container {
  background-color: #20313b;
  color: #fff;
  margin: 0;
  display: flex;
  min-height: 80vh;
  height: auto;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
}

.map-view-container {
  display: flex;
  justify-content: flex-start;
  height: 80vh;
  width: 100%;
  border: 2px solid lightgray;
  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1); */
}

.home-page-headline {
  text-align: center;
  /* margin-top: 75px; */
  margin-bottom: 35px;
  font-size: 38px;
  letter-spacing: 2px;
  font-weight: 400;
  padding-top: 20px;
}

.home-page-instructions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 65px 0;
    font-size: 18px;
}

i {
  /* border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 12px;
  margin-left: 12px; */
}

.right {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 12px;
  margin-left: 12px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.intro {
  background-color: #20313b;
  padding: 20px;
  color: #fff;
}