* {
  margin: 0;
  padding: 0;
  border: 0;
}

.places-list-container {
  margin: 8px;
  /* background-color: #F8F9FA; */

  /* background: linear-gradient(180deg, #1483c6 50%, #F8F9FA 50%); */
  border: 1px solid lightgrey;
  /* border-radius: 2px; */
  height: auto;
  min-height: 500px;
  width: 30%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);

}

.places-background-color {
  background-color: red;
}

.place-arrow {
  transform:rotate(90deg);
  display:block;
  float:right;
  margin: 5px;
  height: 20px;
  }

h5.place-container-headline {
  background-color: #e22866;
  text-align: center;
  color: #fff;
  border: 1px solid lightgrey;
  /* border-radius: 5px; */
  height: 40px;
  line-height: 40px;
  margin-bottom: 0;
}

.place-headline {
  margin: 5px;
  font-weight: bold;
  color: black;
}

.place-content-li {
  color: #000;
}

.single-place-header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ul {
  margin: 5px;
} */

.btn-color {
  color: #E63946;
}

.placeList-background-div{
  padding-left: 30px;
  padding-right: 30px;
}



