.places-list-container {
  margin: 8px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  height: auto;
  min-height: 200px;
  width: 50%;
}

.place-arrow {
  transform:rotate(90deg);
  display:block;
  float:right;
  margin: 5px;
  }

.place-headline {
  margin: 5px;
  font-weight: 700;
}

.single-place-header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  margin: 5px;
}

