/* Reseting all css */

@import url('https://fonts.googleapis.com/css?family=Montserrat');
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

body {
  background-color: #fff;
}

.day-list {
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.sweet-loading {
  margin: 0 auto;
  width: fit-content;
}

.add-event-div {
  width: fit-content;
  margin: 20px auto;
  /* left: 24px; */
  /* position: absolute; */
  /* top: 48px;
	display: block;
	box-shadow: 0 3px 6px rgba(255, 171, 0, 0.16), 0 3px 6px rgba(245, 0, 87, 0.23); */
}

.animate {
  position: absolute;
  top: 300px;
  width: 30px;
  left: 80%;
  opacity: 0;
  animation: animate 1s ease forwards;
  /* animation: animate 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) backwards;
  -webkit-animation: animate 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) backwards; */
  font-size: 0;
  color: rgb(245, 0, 87);
  letter-spacing: 0;

}


@keyframes animate {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1;
    top: 90px
  }
  100% {
    opacity: 0;
    left: 60%;
    top: 90px
  }
}