/* Reseting all css */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}


ol,
ul {
  list-style: none;
}

body {
  background-color: #fff;
}

.day-list {
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.sweet-loading {
  margin: 0 auto;
  width: fit-content;
}
