.formSelector {
  position: absolute;
  top: 0px;
  margin: 10px;
  padding: 0 12px;
  background: white;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  outline: none;
}

.header-preference {
  margin: 5px;
  font-weight: bold
}

.pref-buttons {
  display: flex;
  justify-content: space-around;
}

.formSelector form {
  padding-bottom: 5px;
}

.pref-buttons {
  display: flex;
  justify-content: space-around;
}

.label {
  padding-left: 9px;
  cursor: pointer;
}

.btn-outline-secondary {
  color: #20313b;
  background-color: transparent;
  background-image: none;
  border-color: #20313b;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #20313b;
  border-color: #20313b;
}

@media only screen and (max-width: 940px) {
  .formSelector {
    top: 45px;
    left: 10px
  }
}