* {
  margin: 0;
  padding: 0;
  border: 0;
}

.event-list-container,
.temp-events-list-container {
  margin: 8px;
  border: 1px solid lightgrey;
  /* border-radius: 2px; */
  height: auto;
}

.event-list-container {
  min-height: 200px;
  width: 45%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  height: 300px;
  overflow: auto;
}

.temp-events-list-container {
  min-height: 40px;
  width: auto;
  background-color: #f8f9fa;
  /* background-color: white; */
}

/* . */

.events-list-container {
  background-color: white;

}

.event-list-container {
  min-height: 500px;
  width: 30%;
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(180deg, #1483c6 50%, white 50%); */
  /* box-shadow: 2px 2px 2px 1px rgba(230, 222, 222, 0.925); */
}

.place-arrow {
  transform:rotate(90deg);
  display:block;
  float:right;
  margin: 5px;
  height: 20px;
  color: #000;
  font-weight: bold;

  }

  h5.event-container-headline {
  background-color: #e22866;
  text-align: center;
<<<<<<< HEAD
  background-color: #1483c6;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px
}

.event-headline {
  font-weight: 400;
=======
  color: #fff;
  border: 1px solid lightgrey;
  /* border-radius: 5px; */
  height: 40px;
  line-height: 40px;
  margin-bottom: 0;
}

.content-of-event li {
color: #000
}

.event-headline {
  margin: 5px;
  font-weight: bold;
  color: #000;
>>>>>>> master
}


.single-event-header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  color: #fff
}

.event-dlt-btn {
  color: #1D3557;
  border: 1px solid lightgray;
}

.collapse-color {
  background-color: white;
}

ul .ReactCollapse--content {
  color: #000
}

<<<<<<< HEAD
.eventList-background-div{
  padding-left: 30px;
  padding-right: 30px;
}
=======
/* .btn-color {
  color: #E63946;
} */
>>>>>>> master

