* {
  margin: 0;
  padding: 0;
  border: 0;
}

.day-list-container {
  margin: 8px;
  border: 1px solid lightgrey;
  height: 70vh;
  width: 35%;
  border-radius: 2px;  
}

.day-list-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  background: #fff;
  width: auto;
  height: 65vh;
  overflow-y: scroll;
  
}


.day-container {
  margin: 8px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  min-height: 15vh;
  height: auto;
  width: auto;
}

.pick-date {
  border: 1px solid  lightgrey;
  text-align: center;
}

.droppable-size {
  min-height: 15vh;
  height: auto;
}

