.header-days {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* background-color: #e22866; */
  /* text-align: center; */
  color: #fff;
  border: 1px solid lightgrey;
  /* border-radius: 5px; */
  height: 40px;
  line-height: 40px;
}

.header-days h5 {
  margin-bottom: 0;
  line-height: 40px;
  margin-left: 10px;
}

.inlineEdit:hover {
  cursor: text;
  /* display: inline; */
}

.inlineInput {
  outline: none;
}

.inlineInput {
  font-size: 20px;
  padding: 10px;
  /* background-color: #20313b;
  color: #fff; */
  /* text-align: center; */
  /* display: inline; */
  width: fit-content;


}

.add-day {
  margin-left: auto;
}