.about-page {
  background-color: #20313b;
}

.about-body {
  color: #fff;
  padding-top: 50px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 2em;
  font-size: 20px;
}

.team-body {
  background-color: #fff;
  padding: 30px;
}

.h1-team {
  text-align: center;
  color: #f50057;
  font-weight: bold;
  padding: 20px 0;
}

.tm_pic {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.tm_pic_dror {
  background-image: url(/images/James.png);
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.tm_pic_hodaya {
  background-image: url(/images/Lisa.png);
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.tm_pic_aia {
  background-image: url(/images/Emily.png);
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.tm_pic_carl {
  background-image: url(/images/Aaron.png);
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.tm_name {
  text-align: center;
  color: #000;
  font-weight: bold;
  margin: 20px;
}

.icons {
  text-align: center;
  width: 100%;
  font-size: 2em;
}

.gitIcon,.linkedinIcon {
  padding: 0 5px;
  color: #f50057;
}

.linkedinIcon:hover, .gitIcon:hover  {
  color: #20313b;
}

/* making a line before and after word */

.line-on-sides:before,
.line-on-sides:after {
  content: '';
  display: inline-block;
  width: 5%;
  margin: 0 0.5em 0 -55%;
  vertical-align: middle;
  border-bottom: 2px solid;
}

.line-on-sides:after {
  margin: 0 -55% 0 0.5em;
}

@media only screen and (max-width: 750px) {
  .about-body {
    width: 90%;
    font-size: 16px;
  }
  .h1-team {
    font-size: 28px
  }
}
