.navbar .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=e22866');
}

.loginNavLi {
  border:2px solid #f50057;
  color: white;
  pointer-events: none;
}

.loginNavLi button {
  color: white;
  pointer-events: none;
}

.collapse-nav-design {
  background-color: #1483c6;
  color: white;
}

.logo-design {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-left: 20px;
  color: white;
}

.bg-light {
  background-color: #20313b !important;
  color: white !important;
  box-shadow: -1px 1px 3px grey;
  /* margin-bottom: 10px; */

}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

.navbar-light .navbar-brand {
  color: white !important;
}

.btn-secondary {
  background-color: #f50057;
  border-color: #f50057;
}

.btn-secondary:hover {
  background-color: #f50057;
  border-color: #f50057;
}

.activeLink {
  border-bottom: 1px solid #fff;
}

@media (max-width: 767px) {
  .navbar-nav li a {
    display: inline;
  }
  .navbar-nav li {
    text-align: center;
    padding: .5rem 1rem;
  }
  .navbar-right li {
    text-align: right;
    padding: 2px;
  }
  .navbar-right li.mr-3 {
    margin-right: 0 !important;
  }
  .navbar-nav li.ml-3 {
    margin-left: 0 !important;
  }
}