* {
  margin: 0;
  padding: 0;
  border: 0;
}

.plan-trip-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  /* border-radius: 2px; */
  width: 100%; 
  height: auto;
  /* background-color: green; */
}

.place-event-containers {
display: flex;
flex-direction: row;
/* border-radius: 2px; */
width: 100%;
height: auto;
/* background-color: purple; */
}

.save-trip-btn {
  background-color: orange;
  width: 22%;
  margin: 0 auto;
  color: white;
  height: 35px;
  border-radius: 3px;
}