* {
  margin: 0;
  padding: 0;
  border: 0;
}

.plan-trip-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  width: 100%;
  height: auto;
}

.place-event-containers {
display: flex;
flex-direction: row;
justify-content: space-around;
width: 100%;
height: auto;
}

.save-trip-btn {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  /* float: right; */
  margin-left: auto;
  width: 80px;
  height: 80px;
  top: 0px;
  border-radius: 50%;
  background-color: #876A49;
  color: #fff;
  /* color: black; */
  /* border: 1px solid #f86300; */
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  font-size: 14px;
  border: none;
}

/* .save-trip-btn:after {
  content: 'Save';
  font-size: 16px;
} */

.save-trip-btn:hover, .save-trip-btn:active {
  background-color: #C4C4C4;;
  color: #000;
  border: none;

}


/* .save-trip-btn:hover:after {
  content: 'Save Trip';
  font-size: 20px;
} */
/*
.save-trip-btn.in-active {
  animation-direction: reverse;
} */

.name-trip-container {
  display: flex;
  /* justify-content: center; */
  align-items: flex-start;
  /* width: fit-content; */
  /* margin: 10px auto; */
  width: 100%;
  padding: 10px;
}

.name-trip-container div {
text-align: center;
align-self: center;
}
.name-trip-container i {
height: 80px;
line-height: 80px;
padding: 0;
}

.edit-trip-label {
  margin-right: 5px;
  font-size: 20px;
  padding: 10px;
}

.inlineEdit {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 0;
  width: 200px;
  text-align: left;
  }

  @media only screen and (max-width: 760px) {
    .place-event-containers {
      display: flex;
      flex-direction: column;
    }
  }