* {
  margin: 0;
  padding: 0;
  border: 0;
}

.plan-trip-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  width: 90%;
  height: auto;
  position: relative;
  margin: 0 auto;
}

.place-event-containers {
display: flex;
flex-direction: row;
justify-content: space-around;
width: 100%;
height: auto;
}

.save-trip-wrapper {
  position: absolute;
  right: -87px;
  top: 14px;
    height: 100%;
}

.save-trip-btn {
  display: inline-block;
  position: -webkit-sticky;
  position: sticky;
  width: 80px;
  height: 80px;
  top: 0px;
  border-radius: 50%;
  background-color: #f50057;
  color: white;
  font-weight: bold;  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  font-size: 14px;
  border: none;
  align-self: flex-start;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 10px 2px rgba(255,255,255,1);
  box-shadow: 0px 0px 10px 2px rgba(255,255,255,1);
}


.save-trip-btn:hover, .save-trip-btn:active {
  background-color: rgba(0, 0, 0, 0);
  color: #f50057;
  box-shadow: inset 0 0 0 3px #f50057;
  /* background-color: #f50057; */
  border: none;
}


/* .save-trip-btn:hover:after {
  content: 'Save Trip';
  font-size: 20px;
} */
/*
.save-trip-btn.in-active {
  animation-direction: reverse;
} */

.name-trip-container {
  display: inline-flex;
  /* justify-content: center; */
  align-items: flex-start;
  /* width: fit-content; */
  /* margin: 10px auto; */
  width: 70%;
  padding: 10px;
  margin: 0
}

.name-trip-container div {
/* text-align: center; */
align-self: center;
}

.name-trip-container i {
height: 80px;
line-height: 80px;
padding: 0;
align-self: flex-start;
}

.edit-trip-label {
  margin-right: 5px;
  font-size: 20px;
  padding: 10px;
}

.inlineEdit {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 0;
  width: 200px;
  text-align: left;
  }

  @media only screen and (max-width: 760px) {
    .place-event-containers {
      display: flex;
      flex-direction: column;
    }
  }