* {
  margin: 0;
  padding: 0;
  border: 0;
}

.plan-trip-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  width: 100%;
  height: auto;
}

.place-event-containers {
display: flex;
flex-direction: row;
justify-content: space-around;
width: 100%;
height: auto;
}

.save-trip-btn {
  background-color: #f8a100;
  width: 20%;
  margin: 10px auto;
  display: block;
  color: white;
  border-radius: 3px;
  border: 1px solid #f8a100;

}

.name-trip-container {
  display: flex;
  width: fit-content;
  margin: 10px auto;
}

.name-trip-container div {
text-align: center;
}

.edit-trip-label {
  margin-right: 5px;
  font-size: 20px;
  padding: 10px;
}

.inlineEdit {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 0
  }