.search-bar {
  padding: 12px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 40px;
  width: 55%;
  border-bottom: 1px solid #ddd;
}

.search-bar:focus {
  outline-style: none;
}

.card-list {
  width: 80%;
  margin: auto;
  /* display: flex; */
  /* flex-wrap: wrap; */
  box-sizing: border-box;
  justify-content: center;
}

.card-list h2 {
  text-align: center;
}

.card {
  /* box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.14); */
  /* box-shadow: 0px 4px 3px -3px rgba(0,0,0,0.75); */
  /* box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); */
  display: block;
  /* flex-direction: row; */
  /* flex: 0 0 31.3333%; */
  padding: 20px 60px;
  margin: 10px;
  /* margin-right: 45px;
  margin-left: 45px; */
  margin-right: 10%;
  margin-left: 10%;
  border-bottom: 1px solid #f50057;
  background: #fff;
  color: #20313b;
  text-align: center;
  transition: all .2s ease-in-out;
  /* border-radius: 10px; */
}

.card:nth-child(odd) {
  /* border-bottom: 1px solid #20313b; */
}

.card:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
  cursor: pointer;
  z-index: 1;
}

.watch {
  color: #20313b;
  text-decoration: none;
}

.watch:hover {
  color: #20313b;
  text-decoration: none;
}

.icons-container {
  float: right;
  /* text-align: right; */
}

/*=====================================================
Trip Day
=======================================================*/

.day-trip {
  box-sizing: border-box;
  padding: 25px;
  display: flex;
}

.day-list-trip {
  flex-direction: row;
  justify-content: space-around;
}

.trip-header {
  text-align: center;
}

.trip-header>h1 {
  color: #f50057;
  font-weight: bolder;
  padding: 20px;
  box-sizing: border-box;
}

.line-on-sides:before,
.line-on-sides:after {
  content: '';
  display: inline-block;
  width: 5%;
  margin: 0 0.5em 0 -55%;
  vertical-align: middle;
  border-bottom: 2px solid;
}

.line-on-sides:after {
  margin: 0 -55% 0 0.5em;
}

.notes {
  flex-basis: 25%;
  margin: 0;
  padding: 20px;
  margin-left: 30px;
  text-align: center;
  background-color: #20313b;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.input-notes {
  background: #0077b7;
}

.note {
  font-style: italic;
  display: flex;
  text-align: center;
  padding: 5px;
  border-bottom: 1px #fff solid;
  color: #fff
}

.attraction {
  font-size: large;
}

.attractions {
  flex-basis: 37%;
  margin-right: 25px;
  box-sizing: border-box;
  padding: 8px;
}

.attractions>h3 {
  text-align: center;
  border-bottom: #20313b 1px solid;
  margin-bottom: 15px;
}

.mapDay {
  /* width: 50vw; */
  flex-basis: 40%;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
}

.list-attractions {
  list-style: initial;
  color: #000;
}

.fa-circle {
  font-size: small;
  margin-left: 4px;
  color: #20313b;
}

.pin-note {
  margin-top: -43px;
  position: absolute;
  right: 19px;
}

.pencil-notes {
  margin-right: 8px;
  font-size: 15px;
  line-height: 32px;
}

.editNote-input {
  line-height: 32px;
  background-color: #20313b;
  color: #fff;
}

.editNote-input:focus {
  outline: none;
}

.editNote-input:hover {
  cursor: text;
}

.note label {
  margin-bottom: 0;
  line-height: 32px;
}

.note label:hover {
  cursor: text;
}