.search-bar {
  padding: 12px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 40px;
  width: 60%;
  /* text-align: center; */
  border-bottom: 1px solid #ddd;
}

.search-bar:focus {
  outline-style: none;
}

.card-list {
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.card {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  display: block;
  flex-direction: row;
  /* border-radius: 1.25rem; */
  flex: 0 0 31.3333%;
  padding: 20px;
  margin: 5px;
  border: 2px solid #e22866;
  background: #fff;
  color: #20313b;
  text-align: center;
  transition: all .2s ease-in-out;
  border-radius: 10px;
}

.card:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
  z-index: 1;
}

.watch {
  color: #20313b;
  text-decoration: none;
}

.watch:hover {
  color: #20313b;
  text-decoration: none;
}

/*=====================================================
Day
=======================================================*/

.day-trip {
  /* width: 50vw; */
  box-sizing: border-box;
  padding: 25px;
  display: flex;
}

.day-list-trip {
  /* display: flex; */
  flex-direction: row;
  justify-content: space-around;
}

.trip-header {
  text-align: center;
}

.trip-header>h1 {
  /* color: #e22866;
  background: #20313b;
  width: fit-content;
  margin: 0 auto;
  font-weight: bolder; */
  /* background: #e22866; */
  color: #e22866;
  /* width: -webkit-fit-content; */
  /* width: -moz-fit-content; */
  /* width: fit-content; */
  /* margin: 0 auto; */
  font-weight: bolder;
  /* text-shadow: 0 0 2px 0px black; */
  /* text-shadow: 1px 2px 3px #20313b; */
  padding: 20px;
  box-sizing: border-box;
}

.line-on-sides:before,
.line-on-sides:after {
  content: '';
  display: inline-block;
  width: 5%;
  margin: 0 0.5em 0 -55%;
  vertical-align: middle;
  border-bottom: 2px solid;
}

.line-on-sides:after {
  margin: 0 -55% 0 0.5em;
}

.notes {
  /* width: 40%; */
  flex-basis: 25%;
  margin: 0;
  padding: 20px;
  margin-left: 30px;
  text-align: center;
  background-color: #20313b;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.input-notes {
  background: #0077b7;
}

.note {
  font-style: italic;
  display: flex;
  text-align: center;
  padding: 5px;
  border-bottom: 1px #fff solid;
  color: #fff
}

.attraction {
  font-size: large;
}

.attractions {
  flex-basis: 37%;
  margin-right: 25px;
  /* BACKGROUND: #e22866; */
  /* border-radius: 12px; */
  /* border: #20313b 5px solid; */
  box-sizing: border-box;
  padding: 8px;
  /* box-shadow: inset 0 0 3px #f8f9fa; */
}

.attractions>h3 {
  text-align: center;
  border-bottom: #20313b 1px solid;
  margin-bottom: 15px;
}

.mapDay {
  /* width: 50vw; */
  flex-basis: 40%;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
}

.list-attractions {
  list-style: initial;
  color: #000;
}

.fa-circle {
  font-size: small;
  margin-left: 4px;
  color: #20313b;
}

.pin-note {
  /* top: 156px; */
  margin-top: -43px;
  position: absolute;
  right: 19px;
}

.fa-eye {
  font-size: 24px;
}

.pencil-notes {
  margin-right: 8px;
  font-size: 15px;
  /* position:relative; */
    /* top: calc(50% - 5px); */
    line-height: 32px;
}

.editNote-input {
  line-height: 32px;
  background-color: #20313b;
  color: #fff
}

.editNote-input:focus {
  outline: none;
}

.editNote-input:hover {
  cursor: text;
}

.note label {
  margin-bottom: 0;
  line-height: 32px;
}
.note label:hover {
  cursor: text;
}